.gayathri-thin {
    font-family: "Gayathri", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.gayathri-regular {
    font-family: "Gayathri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gayathri-bold {
    font-family: "Gayathri", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sixtyfour-title {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }

html {
    background-color: #346eb0;
    font-family: Gayathri, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #F4F7FB;
    font-size: 30px;
    
}

.input {
    align-items: baseline;
}

.textbox {
    width: 10em;
    height: 1.5em;
    /* padding: 0.5em, 0.3em, 0.5em, 0.3em; */
    border: 2px solid #a4c5ea;
    border-radius: 4px;
    font-family: "Gayathri", sans-serif;
    color: #346eb0;
    font-size: 27px;
}

#title {
    font-family: Sixtyfour, sans-serif;
    font-size: 50px;
    margin-bottom: 1em;
}

#coolify {
    background-color: #F4F7FB;
    color:#2B8B91;
    font-size: 30px;
    width: 8em;
    height: 2em;
    font-family: Sixtyfour, sans-serif;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    padding: 20px, 40px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#coolify:hover {
    background-color: #a4c5ea;
}

#coolify:active {
    transform: translateY(4px);
  }

#coolname {
    font-size: 35px;
    font-weight: 700;
}

#toggle {
    background-color: #F4F7FB;
    color:#2B8B91;
    font-size: 17px;
    width: 4em;
    height: 1.5em;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    padding: 20px, 40px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#toggle:hover {
    background-color: #a4c5ea;
}

#toggle:active {
    transform: translateY(4px);
  }

.site {
    padding: auto;
    margin: auto;
    width: 66%;
}